
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

ul{
  list-style: none;
}
a, a:hover{
  text-decoration: none;
}
//Header
.navbar-custom{
  background-color:teal;
  border:teal;
}

.navbar-brand, .navbar-brand:active{
  color:white!important;
  font-size: 1.5em;
}

.navbar-nav li{
  text-align: center!important;
}

.navbar-nav a, .navbar-nav a:visited{
  color:white!important;
  font-size:1.2em!important;
}

.navbar-nav a:hover{
  text-decoration: underline;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
  color:white!important;
  background-color: rgb(0,100,100)!important;
}

// Flex Footer to Bottom
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.contentWrapper {
  flex: 1;
}
footer{
  background-color:#333;
  margin-top:20px;
  padding:10px;
  text-align: center;
}

//SideBar
.sidebarContent{
  text-align: right;
}

@media (max-width: 991px )
{
  .sidebarMobileFlex{
    display:flex;
    width:100%;
    justify-content: space-around;
  }

  .sidebarContent{
    text-align: center;
  }
}

.btn-Archive{
  background-color: teal!important;
  border:none;
}

.btn-Archive:hover{
  background-color: rgb(0,115,115)!important;
}

.counterLabel{
  color:teal;
}

//Main Blog Page
.pageTitle{
  text-align: center;
}

.blogpostBody img{
  width:150px;
  height:150px;
  float:right;
}

.filteredBy{
  font-size: .5em;
  color:#636363;
  text-align: center;
}

.blogpostWrap{
  display:flex;
}

.blogpostWrap img{
  width:200px;
  height:200px;
}

.blogDescWrap{
  margin-left: 3em;
}

.catBadge, .tagBadge{
  padding:5px 10px !important;
}

.catBadge:hover{
  background-color:#428bca!important;
}

.tagBadge:hover{
  background-color: black!important;
}

.blogDescDate, .blogDescAuth, .blogpostAuthor{
  float:right;
  opacity:.6;
}

//Posts Page
.clearfix:after {
  clear: both;
}

.blogPostTitle{
  text-align: center;
}

.postFeaturedImage{
  float:right;
  width:300px;
  height:300px;
  margin-left: 15px;
  border:solid 3px black;
}

.commentContainer{
  width:90%;
  margin:0 auto;
}

.commentFlex{
  display:flex;
}

.comment{
  border-right:solid 1px #ccc;
  padding-right: 10px;
}

.commentDate{
  align-self: center;
  margin-left:10px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
  color:white!important;
  background-color: rgb(0,100,100)!important;
}

.navbar-nav > li > .dropdown-menu{
  color:white!important;
  background-color: teal!important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
  background-color:teal!important;
}

.dashContainer{
  display:flex;
  background-color: #333;
  border-radius:20px;
  border: solid 6px #666;
  padding:20px;
  color:#eee;
}

@media(max-width:675px)
{
  .dashContainer{
    flex-direction: column;
  }

  .dashCard{
    margin-bottom:2em;
  }
}

.dashCard{
  flex-grow:1;
  text-align: center;
}

.customDefault{
  background-color: #eee!important;
}

.customDefault li a:hover{
  background-color:#ccc!important;
}
